body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .login-container {
    background-image: url('../image/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 800px;
  }

  .login-container h2 {
    color: #fff;
    margin-bottom: 0px;
  }

  .login-container img {
    width: 90%;
    top: 100px;
    z-index: 1;   
    position: absolute;
  }

  .login-container input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    z-index: 9999;
  }

  .login-container .buttons {
    display: flex;
    width: 100%;
    gap: 40px;
    border-radius: 6px;
    border: 1px solid #8b0000;
    background-color: #8b0000;
    color: white;
  }

  .login-container button {
    display: flex;
    background-color: #8b0000;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    bottom: -150px;
  }

  .login-container button:hover {
    background-color: #b30000;
  }